/* Reset and base styles */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Fredoka:wght@300..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--main-text-color);
    background: var(--main-bg-color);
}

:root {
    --main-bg-color: #ECE2B1; /* Light background color */
    --main-text-color: #070C00; /* Dark text color */
    --accent-color: #597931; /* Accent color for links and highlights */
    --header-bg-color: #1D2F23; /* Header background color */
    --footer-bg-color: #1D2F23; /* Footer background color */
    --link-color: #CAE4C5; /* Link color */
    --link-hover-color: #597931; /* Link hover color */
    --header-text-color: #ECE2B1; /* Header text color */
    --footer-text-color: #ECE2B1; /* Footer text color */
    --semi-text-color: #6d380d; /* h3 text color */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: var(--header-bg-color);
    color: var(--header-text-color);
}

header .logo img {
    width: 80px;
    padding-left: 10px;
    transition: transform 0.2s ease;
}

header .logo img:hover {
    transform: scale(1.015) translateY(-3px);
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 5px;
}

header nav ul li {
    margin-left: 2em;
}

header nav ul li a {
    color: var(--header-text-color);
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease, padding 0.2s ease, border-radius 0.2s ease;
}

header nav ul li a:hover {
    color: var(--header-bg-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 20px var(--header-text-color);
    background-color: var(--header-text-color);
    border: 2px solid var(--header-text-color);
    padding: 10px;
    border-radius: 25px;
    font-weight: 600;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    color: var(--header-text-color);
}

.overlay {
    display: none;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--header-bg-color);
    color: var(--header-text-color);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000; /* Ensure the mobile nav is on top */
}

.mobile-nav.open {
    transform: translateX(0);
}

.mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.mobile-nav ul li {
    margin: 1em 0;
}

.mobile-nav ul li a {
    color: var(--header-text-color);
    text-decoration: none;
    font-size: 1.5em;
}

.mobile-nav ul li a:hover {
    color: var(--header-bg-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 20px var(--header-text-color);
    background-color: var(--header-text-color);
    border: 2px solid var(--header-text-color);
    padding: 10px;
    border-radius: 25px;
    font-weight: 600;
}

.close-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    background: none;
    border: none;
    font-size: 2em;
    color: var(--header-text-color);
}

section {
    padding: 4em 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bagel Fat One", system-ui;
    letter-spacing: 3px;
}

h1 {
    font-size: 98px;
    color: var(--accent-color);
}

h2 {
    font-size: 80px;
    color: var(--accent-color);
}

h3 {
    margin: 0;
    font-size: 56px;
    margin-bottom: 20px;
    color: var(--semi-text-color);
}

p {
    font-family: "Fredoka", sans-serif;
    font-size: 24px;
}

a {
    font-family: "Instrument Sans", sans-serif;
    font-size: 18px;
}

.hero-section,
.about-me,
.portfolio-section,
.contact {
    margin-bottom: 4em;
}

.hero-section {
    background-image: url('https://www.dropbox.com/scl/fi/vr0p7as0a2yr4m3m91n5e/Jez_DIAL_1.gif?rlkey=ku282dmk1keyrl5p0zjr0e1i9&st=16pau6lt&raw=1');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.hero-section .hero-intro {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* background-color: rgba(236, 226, 177, 0.1) */
}

.hero-intro h1 {
    /* color: #F1C13D; */
    color: var(--header-text-color);
}

/* .hero-intro h1 {
    text-shadow: 
    -0.75px -0.75px 1px var(--header-text-color),  
    0.75px -0.75px 1px var(--header-text-color),   
    -0.75px 0.75px 1px var(--header-text-color),   
    0.75px 0.75px 1px var(--header-text-color);

} */

.hero-intro p {
    color: var(--link-color);
}
    
.hero-section img,
.about-me img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.portfolio-section {
    padding: 4em 2em;
    background: var(--main-bg-color);
}

.hero-intro,
.about-intro,
.portfolio-intro,
.contact-intro {
    text-align: center;
    margin-bottom: 2em;
}

.hero-section h1,
.about-me h2,
.portfolio-intro h2,
.contact-intro h1 {
    margin: 0;
}

.hero-intro p,
.about-intro p,
.portfolio-intro p,
.contact-intro p {
    margin: 0;
    margin-bottom: 20px;
}

/* Hero sizing */
.hero-section,
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.hero-intro,
.contact-intro {
    justify-content: center;
    align-items: center;
}

/* About Me */
.about-me {
    padding: 2em;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}

.card {
    background: var(--main-bg-color);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-header {
    background: var(--accent-color);
    cursor: pointer;
    padding: 20px;
    text-align: center;
}

.card-header h3 {
    color: var(--main-bg-color);
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-content p {
    padding: 0;
}

.card-content img {
    width: 200px;
    margin-left: 20px;
    height: auto;
    animation: jump 1s ease-in-out infinite;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px)
    }
    100% {
        transform: translateY(0);
    }
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.015)translateY(-3px);
}

.card-content {
    display: none;
}

.card.active .card-content {
    display: flex;
}

/* Portfolio items container */
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 0.70;
    flex: 1 1 calc(33.333% - 2em);
    padding: 0;
    margin-bottom: 1em;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.portfolio-item img {
    width: 100%;
    aspect-ratio: 1 / 0.70;
    display: block;
}

.portfolio-item iframe {
    width: 100%;
    aspect-ratio: 1 / 0.70;
    display: block;
}

/* Animation for portfolio items */
.portfolio-item.in-view {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-item.out-of-view {
    opacity: 0.50;
    transform: translateY(20px);
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: #fafafa;
    width: 70%;
    padding: 16px 16px;
    border-radius: 20px;
    border: 2px solid var(--footer-bg-color);
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "Instrument Sans", sans-serif;
}

textarea {
    background-color: #fafafa;
    width: 70%;
    font-size: 18px;
    padding: 16px 16px;
    border-radius: 20px;
    border: 2px solid var(--footer-bg-color);
    margin-bottom: 25px;
    font-family: "Instrument Sans", sans-serif;
}

input:focus-within,
textarea:focus-within {
    outline: none;
    border: 3px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--link-color);
    box-shadow: 0 0 10px var(--link-color)
}

input:focus-within::placeholder,
textarea:focus-within::placeholder {
    color: var(--link-color);
}

/* Example button styles copied and adapted */
.contact-intro button,
.contact-intro-btn {
    background-color: var(--accent-color);
    color: var(--header-text-color);
    border: 2px solid var(--header-text-color);
    padding: 0.75em 2em;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 0.3s ease;
}

.contact-intro-btn {
    border: 0;
    background-color: var(--header-text-color);
    color: var(--footer-bg-color);
}

.contact-intro-btn::after {
    content: "Get started";
}

.contact-intro-btn:hover::after {
    content: "Weeeeeee!";
}

.contact-intro button::after {
    content: "Send message";
}

.contact-intro button:hover::after {
    content: "Ready to go?";
}

.contact-intro button:hover,
.contact-intro-btn:hover {
    background-color: var(--header-text-color);
    color: var(--accent-color);
    border: 2px solid var(--accent-color);

    color: var(--header-text-color);
    transform: scale(1.050);
    box-shadow: 0 0 10px var(--header-bg-color);
    background-color: var(--header-bg-color);
    border: 2px solid var(--header-bg-color);
    font-weight: 500;
}

/* Scroll to Top */
.scroll-to-top {
    bottom: 1em;
    right: 1em;
    background: var(--accent-color);
    border: none;
    color: var(--main-bg-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    z-index: 1000; /* Ensure the button is on top */
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease, padding 0.2s ease, border-radius 0.2s ease;
}

.scroll-to-top:hover {
    color: var(--link-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--link-color);
    background-color: var(--footer-bg-color);
    border: 2px solid var(--link-color);
}

/* Footer */
footer {
    background-color: var(--footer-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.social-icons a {
    display: inline-block;
    text-align: center;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    margin: 10px;
    background: transparent;
    border: 2px solid var(--footer-text-color);
    font-size: 1.75rem;
    border-radius: 50%;
    color: var(--footer-text-color);
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease, padding 0.2s ease, border-radius 0.2s ease;
}

.social-icons a:hover {
    color: var(--header-bg-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 20px var(--header-text-color);
    background-color: var(--header-text-color);
    border: 2px solid var(--header-text-color);
}

footer p {
    font-size: 16px;
    color: var(--footer-text-color);
    margin: 5px;
}

/* Responsive Styles */
@media (min-width: 1600px) {
    .card {
        width: 50%;
        margin: 0 auto;
        border-radius: 30px;
    }
}

@media (min-width: 1199px) and (max-width: 1599px) {
    .card {
        width: 70%;
        margin: 0 auto;
        border-radius: 30px;
    }
    .card p {
        text-align: left;
    }
}

@media (max-width: 1200px) {
    .card-content p {
        padding: 0;
        margin-top: 10px;
        text-align: left;
    }
    h1 {
        font-size: 80px; /* Responsive font size */
    }

    h2 {
        font-size: 72px; /* Responsive font size */
    }

    h3 {
        font-size: 64px; /* Responsive font size */
    }
}

@media (min-width: 769px) and (max-width: 971px) {   
    .card-header {
        background: var(--accent-color);
        padding: 10px;
        text-align: center;
    }
    
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .card-content p {
        padding: 0;
        margin-top: 10px;
        text-align: center;
    }
    
    .card-content img {
        margin-left: 0;
        margin-bottom: 10px;
        height: auto;
    }
    
    .card:hover {
        transform: scale(1.005);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .card-content {
        display: none;
    }
    
    .card.active .card-content {
        display: flex;
    }

    h1 {
        line-height: 1.005;
        padding-bottom: 20px;
    }

    h2 {
        line-height: 1.005;
        padding-bottom: 20px;
    }

    h3 {
        font-size: 32px;
        line-height: 1.005;
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    .scroll-to-top {
        display: none;
    }
}

@media (max-width: 768px) {
    header .logo img {
        width: 70px;
    }

    .card-header {
        background: var(--accent-color);
        padding: 10px;
        text-align: center;
    }
    
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .card-content p {
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .card-content img {
        margin-bottom: 10px;
        margin-left: 0;
        height: auto;
    }

    .card:hover {
        transform: scale(1.005);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .card-content {
        display: none;
    }
    
    .card.active .card-content {
        display: flex;
    }
    
    h1 {
        font-size: 48px; /* Responsive font size */
        letter-spacing: 2px;
        line-height: 1.005;
        padding-bottom: 20px;
    }

    h2 {
        font-size: 40px; /* Responsive font size */
        letter-spacing: 2px;
        line-height: 1.005;
        padding-bottom: 20px;
    }

    h3 {
        font-size: 32px; /* Responsive font size */
        letter-spacing: 2px;
        line-height: 1.005;
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px; /* Responsive font size */
    }

    .portfolio-item {
        flex: 1 1 100%; /* Adjusts to 1 item per row */
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        display: none;
    }

    .overlay {
        display: block;
    }

    .scroll-to-top {
        bottom: 1em;
        right: 1em;
        background: var(--accent-color);
        border: none;
        color: var(--main-bg-color);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 1.5em;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: fixed;
        z-index: 1000; /* Ensure the button is on top */
    }
}

@media (max-width: 480px) {
    .card-header {
        background: var(--accent-color);
        padding: 10px;
        text-align: center;
    }
    
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .card-content p {
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .card-content img {
        margin-left: 0;
        margin-bottom: 10px;
        height: auto;
    }

    .card:hover {
        transform: scale(1.005);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .card-content {
        display: none;
    }
    
    .card.active .card-content {
        display: flex;
    }

    h1 {
        font-size: 40px; /* Responsive font size */
        letter-spacing: 1px;
        line-height: 1.005;
        padding-bottom: 20px;
    }

    h2 {
        font-size: 32px; /* Responsive font size */
        letter-spacing: 1px;
        line-height: 1.005;
        padding-bottom: 20px;
    }

    h3 {
        font-size: 24px; /* Responsive font size */
        letter-spacing: 1px;
        line-height: 1.005;
    }

    p {
        font-size: 14px; /* Responsive font size */
    }

    .portfolio-item {
        flex: 1 1 100%; /* Adjusts to 1 item per row on mobile */
    }

    .scroll-to-top {
        display: flex;
    }
}
